body {
  font-size: 18px;
  background-color: #eeeeee;
  color: #000000;
  line-height: 1.1;
 }

  a:visited { color:white; } /* visited */
  a:hover { color:red; } /* mouse over */
  a:active { color:purple; } /* selected */


a { 
    color:#0070BB;/* unvisited */
    text-decoration: none;
  }


h1 {
  font-size:45px;
  line-height: 1.5;
}

h3 {
  font-size:25px;
  line-height: 1.2;
}


nav {
  background-color: rgba(51,51,51,.5);
  float: left;
  position: fixed;
  width: 100%;
}


.logo {
  margin: 20px;
  width: 100px;
}


.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

p {
padding-bottom: 20px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
